.scoreboard {
    height: 600px;
    width: 300px;
    margin: 15px;
    border: 2px solid black;
    float: left;
    margin-top: 35px;
    text-align: center;   
    padding: 10px
    
}

#rules {
    
}

.text-rules {
    text-align: left;
}