.scoreboard {
    height: 600px;
    width: 300px;
    border: 2px solid black;
    float: left;
    margin-top: 1%;
    text-align: center;   
    padding: 10px;
    background-size: 100%;
    
}

.text-rules {
    text-align: left;
}