.chatComponent {
    height: 600px;
    width: 300px;
    margin: 15px;
    border: 2px solid black;
    float: right;
    position: relative;
    top: -15px;
    right: 200px;
}

.messageArea {
    height: 550px;
    width: 100%;
    border: 2px solid black;
    overflow-y: scroll; overflow-x:hidden;
}