.chatComponent {
    height: 100%;
    /* width: 300px; */
    border: 2px solid black;
    /* float: right;
    position: relative; */
    /* right: 50px; */
    text-align: left;
    /* margin-top: 1%; */
    /* margin-left: 0; */
}

.messageArea {
    height: 90%;
    width: 100%;
    border: 2px solid black;
    overflow-y: scroll; overflow-x:hidden;
    padding: 5px;
}
.formdiv {
    height: 10%;
}
.chatForm {
    height: 100%;
}
.chatForm input{
    height: 100%;
    width: 80%;
}
.chatForm button {
    width: 20%;
    height: 100%;
    background: rgba(25, 131, 100, 0.9);
    color: white;
}
.messages {
    padding-left: 2px;
}

#userNameText {
    color: red;
}