.chatComponent {
    height: 600px;
    width: 300px;
    margin: 15px;
    border: 2px solid black;
    float: right;
    position: relative;
    right: 50px;
    text-align: left;
    margin-top: 35px
    
}

.messageArea {
    height: 550px;
    width: 100%;
    border: 2px solid black;
    overflow-y: scroll; overflow-x:hidden;
    padding: 5px;
}

.messages {
    padding-left: 2px;
}

#userNameText {
    color: red;
}